body {
	margin: 0;
	padding: 0;
	font-family: 'SF Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		'Helvetica Neue', Arial, sans-serif;
	background-color: #000;
	color: #fff;
	background-image: url('/bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	overflow: hidden;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 0 1.5rem;
	height: 100vh;
	max-width: 390px;
	margin: 0 auto;
	position: relative;
}

.close {
	text-decoration: none;
	position: absolute;
	top: 2rem;
	left: 1.5rem;
	cursor: pointer;
}

h1 {
	font-size: 2.5rem;
	line-height: 1.2em;
}

#cards {
	display: flex;
	justify-content: space-between;
	gap: 0.875rem;
	width: 100%;
}

.card-item {
	position: relative;
	width: 6.525rem;
	height: 8.6625rem;
	border-radius: 0.675rem;
	box-sizing: border-box;
}

.card-item img {
	width: 100%;
	height: 100%;
}

.card-text {
	position: absolute;
	font-size: 0.6875rem;
	bottom: 0;
	text-align: start;
	padding-left: 0.45rem;
}

.offer {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-top: 3.125rem;
	padding-bottom: 0.5rem;
}

.offer-item {
	display: flex;
	height: 3.5rem;
	justify-content: space-between;
	align-items: center;
	background: rgba(255, 255, 255, 0.1016);
	backdrop-filter: blur(10px);
	border-radius: 2rem;
	padding: 0 1.5rem;
	text-align: start;
	margin-bottom: 0.5rem;
}

.active {
	border: 1px solid white;
	background: rgba(255, 255, 255, 0.3024);
}

.fw-600 {
	font-weight: 700;
}

.offer-item p {
	margin: 0;
	padding: 0;
}

.best-offer {
	position: absolute;
	top: -0.6875rem;
	right: 1.875rem;
	font-size: 0.8125rem;
	background: #fff;
	border-radius: 0.625rem;
	color: #000;
	height: 1.25rem;
	width: 7.4375rem;
	text-align: center;
}

button {
	display: flex;
	height: 3.5rem;
	justify-content: center;
	align-items: center;
	border-radius: 2rem;
	padding: 0 1.5rem;
	text-align: center;
	font-size: 1.25rem;
	font-weight: 600;
	margin-top: 1rem;
	width: 100%;
	border: none;
	cursor: pointer;
}

.links {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin-top: auto;
	text-align: start;
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	align-items: center;
}

.links a {
	color: #ffffff80;
	text-decoration: none;
	font-size: 0.78125rem;
}

.links a:hover {
	text-decoration: underline;
}

.fl-70 {
	filter: brightness(70%);
}
.mt-0 {
	margin-top: auto;
}
